/**
/ Страница стилей админ панели
 */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

div.container-fluid {
    padding: 0;
}

/* header */

header {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

nav.admin-header {
    width: 100%;
    background-color: #e0fffe;
}

nav.admin-header ul.list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: space-between;
}

nav.admin-header ul.list li.item {
    display: inline-block;
    padding: 4px 25px;
}

nav.admin-header ul.list li.item a {
    font-size: 14px;
}

/* main block */

.title {
    font-weight: bolder;
    font-size: 18px;
    padding: 15px 25px;
    margin-bottom: 0;
}

.opportunities-list-hint {
    padding: 5px 25px;
    margin-bottom: 0;
}

.admin-block {
    width: 100%;
    padding: 5px 25px;
}

.admin-block ul.admin-opportunities-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.admin-block ul.admin-opportunities-list li.item {
    margin: 6px 30px;
}

.admin-block ul.admin-opportunities-list li.item a {
    text-decoration: none;
    color: #106093;
    font-size: 18px;
    font-style: normal;
    font-weight: bolder;
}
.admin-block ul.admin-opportunities-list li.item a:hover {
    color: #191493;
}

/* Упарвление товарами */

.admin-breadcrumb {
    padding: 20px 0 0 0;
}

.admin-breadcrumb nav ol.breadcrumb {
    background-color: white;
}

.admin-breadcrumb nav ol.breadcrumb li {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #e0fffe;
    border-radius: 0.5rem;
}

.admin-breadcrumb nav ol.breadcrumb li.active {
    color: rebeccapurple;
    font-size: 18px;
}

.admin-breadcrumb nav ol.breadcrumb li a {
    text-decoration: none;
    color: #191919;
    font-size: 18px;
}

.admin-breadcrumb nav ol.breadcrumb li a:hover {
    color: blue;
}

.admin-breadcrumb nav ol.breadcrumb>li+li:before { content: none; }

.admin-add-product {

    padding: 0 20px;
}

.admin-add-product button {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #106093;
    padding: 5px 10px;
}

.admin-catalog form button.delete, .create-product-form form button {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #106093;
    padding: 5px 10px;
    margin-left: 22px;
    color: white;
}
.admin-catalog form button.delete:hover {
    background-color: #0faad6;
}

.admin-add-product button:hover {
    background-color: #00a9e5;
}

.admin-add-product button a {
    text-decoration: none;
    color: #ffffff;
}

.admin-product-table {
    padding-left: 20px;
    padding-top: 5px;
}

.admin-product-table table tr {
    padding: 6px 0;
}

.admin-product-table table tr th {
    padding: 2px 20px 10px 20px;
}

.admin-product-table table tr th#name {
    width: 720px;
    padding-left: 30px;
}

.admin-product-table table tr td {
    padding: 2px 20px;
}

.admin-product-table table tr td#name {
    width: 720px;
    padding-left: 30px;
}

/* create product admin page*/

.create-product-form {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 70px;
}

/* order view page */

.admin-order-view {
    width: 100%;
    padding: 15px 0 50px 25px;
}

.admin-order-view ul.list {
    list-style: none;
    padding-left: 20px;
}

.admin-order-view ul.list li {
    margin: 5px 5px 10px 5px;
    border-bottom: 1px solid #dddddd ;
}

.admin-order-view ul.list li table tr th {
    padding: 0 10px 0 0;
}

.admin-order-view ul.list li table tr td {
    padding: 0 10px 0 0;
}
